:root
  --highlight-color #61f0f3

body
  margin 0

img
  user-select none
  user-drag none
  -webkit-user-drag none

::-webkit-scrollbar
  width 4px
  height 4px

::-webkit-scrollbar-track
  background #282b2e

::-webkit-scrollbar-thumb
  background #42a8b9

#app
  overflow hidden
  width 100vw
  height 100vh
  display flex
  justify-content center
  align-items center
  background #000

.text_highlight
  color #42a8b9