body
  margin 0

img
  -webkit-user-drag none
  user-drag none

::-webkit-scrollbar
  width 7px
  height 7px

::-webkit-scrollbar-track
  background #c6c6c6
  margin 20px 0

::-webkit-scrollbar-thumb
  background #545454

#app
  overflow hidden
  width 100vw
  height 100vh
  display flex
  justify-content center
  align-items center